$text-color: white;
$accent-color: #c3073f;
$bg-color1: #1a1a1d;
$alt-color1: #4e4e50;
$alt-color2: #6f2232;
$alt-color3: #950740;
$font-family: 'Alegreya';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color1;
}

.all-of-it {
  color: $text-color;
  font-family: $font-family;
  display: grid;
  grid-template-columns: 26vw 30vw 38vw;
  grid-template-rows: 8vh 83vh 5vh;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 50% 50%;
  .logo {
    align-self: center;
    h1 {
      font-weight: bolder;
      cursor:pointer;
      color: $text-color;
    }
  }
  nav {
    justify-self: end;
    align-self: center;
    ul {
      display: flex;
      li {
        list-style: none;
        margin-left: 2rem;
        cursor: pointer;
        &:hover {
          color: $alt-color3;
        }
      }
    }
  }
}
@keyframes make-visible {
  from {opacity: 0};
  to {opacity: 1};
}
@keyframes make-invisible {
  from {opacity: 1};
  to {opacity: 0};

}
.content-wrapper {
  grid-area: main;
  display: flex;
  .story-hidden {
    justify-self: center;
    width: 66%;
    height: 66%;
    margin: auto;
    color: $text-color;
    font-size: 2.5rem;
    opacity: 0;
  }
  .story {
    justify-self: center;
    width: 66%;
    height: 66%;
    margin: auto;
    color: $text-color;
    font-size: 2.5rem;
    animation-name: make-visible;
    animation-duration: 1s;
    strong {
      color: $accent-color;
    }
  }
  .input-wrapper {
    display:flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    input {
      margin-bottom: 3px;
      width: 40vw;
      border: none;
      padding: 5px;
      font-family: $font-family;
      font-size: 1.25rem;
    }
    button {
      background-color: $alt-color2;
      color: $text-color;
      font-weight: bolder;
      font-family: $font-family;
      font-size: 2rem;
      border: none;
      width: 50%;
      height: 50px;
      margin: auto;
      margin-top: 20px;
    }
    .error {
      background-color: $accent-color;
      height: 50px;
      width: 60%;
      font-weight: bolder;
      text-align: center;
      margin: auto;
      padding: 5px;
      margin-top: 10px;
    }
  }
  .quote-wrapper {
    margin:auto;
    max-width: 50vw;
    .quote {
      font-weight: lighter;
      font-size: 1.5rem;
      color: $accent-color;
    }
    .author {
      text-align: right;
      font-size: 1rem;
      font-weight: lighter;
      color: $text-color;
    }
  }
}
.footer {
  grid-area: footer;
  color: $alt-color1;
  font-family: $font-family;
}
